{% extends "layout.html" %}
{% set active_page = "dashboard" %}


{% block google %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146246516-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-146246516-3');
</script>
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
{% endblock %}
{% block navbar %}
{% endblock %}

{% block username %}
<h1 id="main">
  <!-- CURRENT USER HERE FOR TESTING UNTIL LOGIN IS WORKING -->
  {{ current_user.business }}
  <!--  -->
</h1>
{% endblock %}
{% block svgimg %}
<img class="svghead" height="400px" src="{{ url_for('static', filename='images/data.svg') }}" alt="" srcset="">
{% endblock %}
<!-- EXPENSES BUTTON -->
{% block form %}

{% endblock %}
<!-- END EXPENSES BUTTON -->


{% block body %}
<h1 class="clienthead">Analytics</h1>
</div>
</div>
<!-- END TOTAL EXPENSE HEADER -->

<div class="container-fluid dashboard">
  <div class="tables">
    <table class="table table-sm table-responsive">
      <caption style="caption-side:top">Income</caption>
      <thead class="thead-dark">
        <tr>
          <a value="client" onclick="sort_it(this.value)">
            <th scope="col">Client</th>
          </a>
          <th scope="col">Date</th>
          <th scope="col">Job</th>
          <th scope="col">Fees</th>
          <th scope="col">Gross</th>
          <th scope="col">Net</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in honecode.income_list %}
        <tr class="income_row" name="{{ doc.name }}" job="{{ doc.job.name }}"
          date="{{ doc.job.date.strftime('%Y-%m-%d') }}" fees="{{ doc.income.fees }}" gross="{{ doc.income.total }}"
          net="{{ doc.income.net }}">
          <td>
            {{ doc.name }}
          </td>
          <td>
            {{ doc.job.date.strftime('%Y-%m-%d') }}
          </td>
          <td>
            {{ doc.job.name }}
          </td>
          <td>
            {{ doc.income.fees }}
          </td>
          <td>
            {{ doc.income.total }}
          </td>
          <td>
            {{ doc.income.net }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table id="bottom_table" class="table table-sm table-responsive">
      <caption style="caption-side:top">Expenses</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Date</th>
          <th scope="col">Category</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in honecode.expense_list %}
        <tr class="expense_row" name="{{ doc.name }}" category="{{ doc.category }}"
          date="{{ doc.date.strftime('%Y-%m-%d') }}" cost="{{ doc.cost }}">
          <td>
            {{ doc.name }}
          </td>
          <td>
            {{ doc.date.strftime('%Y-%m-%d') }}
          </td>
          <td>
            {{ doc.category }}
          </td>
          <td>
            {{ doc.cost }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="revenue">
    <label style="margin-top:40px;" for="revenue_plot">REVENUE</label>
    <div id="revenue_plot">
    </div>
  </div>
  <div class="pie">
    <label for="pie_chart">EXPENSES</label>
    <div id="pie_chart">
    </div>
  </div>
  <div class="net">
      <label for="pie_chart">NET INCOME</label>
    <div id="net_plot">
    </div>
  </div>
</div>




{% endblock %}

{% block addexpense %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}