{% extends "layout.html" %} 
    {% block form %}<form action="/" method="GET">
      <button type="submit">Check Income</button>
    </form>
    {% endblock %}
    {% block banner %}Exenses{% endblock %}
{% block body %}
    {% for file in business_expenses %}
    <div class="container-fluid expense" >
      <div class=" container-fluid item">
        <div class="container">
          <ul>
            <li id="itemname" class="itemattr" style="font-size: 1.25rem">{{ file.item.name }}</li>
            <li id="itemcost" class="itemattr">${{ file.item.cost }}</li>
            <li id="itemcategory" class="itemattr">
              Category: {{ file.item.category }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}

