{% extends "layout.html" %} 

{% block svgimg %}
<img class="svghead" height="400px" src="{{ url_for('static', filename='images/expenses.svg') }}" alt="" srcset="">
{% endblock %}

<!-- CHECK INCOME AND ADD EXPENSE BUTTONS -->
{% block form %}
<center style="margin-bottom: 20px;">
  <form action="/" method="GET">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 25px;margin-top: 25px;">Check Income</button>
  </form>
  <a href="#addexpense"><button class="btn btn-outline-primary">Add Expense</button></a>
</center>
{% endblock %} 
<!-- END INCOME EXPENSE BUTTONS -->

<!-- BANNER -->
{% block banner %}
Expenses
{% endblock %} 
<!-- END BANNER -->

{% block body %} 

<!-- BUSINESS EXPENSE LIST -->
{% for doc in business_expenses %}
<center>
<div class="container-fluid expense">
  <div class=" container-fluid item">
    <div class="container">
      <ul>
        <li id="itemname" class="itemattr" style="font-size: 1.25rem">
          {{ doc.item.name }}
        </li>
        <li id="itemcost" class="itemattr itemcost">${{ doc.item.cost }}</li>
        <li id="itemcategory" class="itemattr">
          Category: {{ doc.item.category }}
        </li>
        <li id="itemdate" class="itemattr">{{ doc.date }}</li>
        <li>
          <button type="button" id="removeobject" class="btn btn-outline-danger" name="{{ doc._id }}" value="Remove"  onclick="sendPost(this.name)">Remove</button>
        </li>
      </ul>
    </div>
  </div>
</div>
</center>
{% endfor %} {% endblock %} 
<!-- END BUSINESS EXPENSE LIST -->

<!-- ADD EXPENSE FORM  -->
{% block addexpense %}
<center>
  <section id="addexpense" style="display: flex">
  <div class="container-fluid" style="margin: 25px;">
    <h4>Enter New Expense</h4>
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
      <dl>
        {{ render_field(form.item) }}
        {{ render_field(form.cost) }}
        {{ render_field(form.category) }}
        {{ render_field(form.date) }}
      </dl>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</section>
</center>
{% endblock %}
 <!-- END ADD EXPENSE FORM -->
