{% extends "layout.html" %} 

{% block google %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146246516-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-146246516-3');
</script>
</script>
<script
type="text/javascript"
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
crossorigin="anonymous"
></script>
<script async custom-element="amp-auto-ads"
src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
{% endblock %}
{% block logout %}
<a href="{{ url_for('logout') }}"><button class="btn btn-btn-primary">Logout</button></a>
{% endblock %}


{% block svgimg %}
<img class="svghead" height="400px" src="{{ url_for('static', filename='images/invoices.svg') }}" alt="" srcset="">
{% endblock %}
<!-- EXPENSES BUTTON -->
    {% block form %}
    <center>
    <form action="/get_expenses" method="GET" style="padding: 15px">
      <button type="submit" class="btn btn-primary">Check Expenses</button>
    </form>
    <a href="#addIncome"><button class="btn btn-outline-success">Add Income</button></a>
  </center>
    {% endblock %}
    <!-- END EXPENSES BUTTON -->



{% block body %}
<!-- TOTAL EXPENSE HEADER -->
<div class="container-fluid wrapper">
  <div class="newexpense">
      
  </div>
  <div class="container totals">
    <div class="container-fluid">
      <h3 class="income">Income</h3>
      <p id="totalincome">${{ honecode.total_income }} </p>
    </div>
    <div class="container-fluid">
      <h3 class="fees">Fees</h3>
      <p id="totalfees">${{  honecode.total_fees }}</p>
    </div>
    <div class="container-fluid">
      <h3 class="expenses">Expenses</h3>
      <p id="totalexpenses">${{  honecode.total_expenses }}</p>
    </div>

    <div class="container-fluid">
      <h3>Profit/Loss</h3>
      <p id="profitloss"></p>
    </div>
  </div>
  <div class="headc">
    <h1 class="clienthead">Income</h1>
  </div>
</div>
<!-- END TOTAL EXPENSE HEADER -->




<!-- INCOME LIST -->
    {% for file in income_statement %}
    <div class="container-fluid project">
      <div class=" container-fluid client">
        <div class="container">
          <ul>
              <li id="clientname" class="jobattr">{{ file.name }}</li>
              <li id="jobname" class="jobattr">{{ file.job.name }}</li>
              {% if file.job.platform %}
              <li id="clientplatform" class="jobattr">
                Platform: {{ file.job.platform }}
              </li>
              {% endif %}
            <li id="jobdate" class="jobattr">
              Date: {{ file.job.date }}
            </li>
            
          </ul>
        </div>
        <div class="container">
          <ul>
            <li>
          <button type="submit" id="removeincome" class="btn btn-outline-danger" name="{{ file.job.ref_id }}" value="removeincome" onclick="removeIncome(this.name)">Remove</button>
        </li>
              <li id="income" class="incomeamount">
                  Income: ${{ file.income.total }}
                </li>
                <li id="fee" class="feeamount">
                  Fees: ${{ file.income.fee.amount }}
                </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
<!-- END INCOME LIST -->
{% endblock %}

{% block addexpense %}
<center>
  <section id="addIncome" class="lowerform" style="display: flex">
  <div class="container-fluid">
        <!-- UPLOAD FILE -->
  <div id="fileupload">
  <title style="padding: 15px">Upload file from UpWork</title>
  <h1 id="newfile">Upload UpWork file or manually enter income below</h1>
  <form method=post enctype=multipart/form-data>
    <input id="fileinput" type=file name=file>
    <br>
    <br>
    <button type=submit class="btn btn-outline-success" value=Upload style="margin-bottom: 15px">Upload</button>
  </form>
</div>
  <!-- END UPLOAD FILE -->
  <div class="jobinput">
    <h4>Enter Income</h4>
    {% from "_formhelpers.html" import render_field %}
    <form name="newjob" method="post">
      <dl>
        {{ render_field(form.client) }}
        {{ render_field(form.job) }}
        {{ render_field(form.earnings) }}
        {{ render_field(form.fees) }}
        {{ render_field(form.platform) }}
        {{ render_field(form.date) }}
      </dl>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
  </div>
</section>
</center>
{% endblock %}