<!DOCTYPE html>
<html lang="en">

<head>
  {% block google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146246516-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-146246516-3');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1735234617072553",
      enable_page_level_ads: true
    });
  </script>

  <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
  </script>
  {% endblock %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description"
    content="Track your business expenses and income. Made with Freelancers and small businesses in mind.">
  <meta name="keywords" content="Income, Business, Tracker, Track, Expenses, Freelancers, UpWork">
  <meta name="author" content="Hone Code LLC">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
  <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto|Special+Elite&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Hone Code LLC</title>


  <!-- script for scroll down arrow -->
  <script type="text/javascript">
    $(function () {
      $("a[href*=#]").on("click", function (e) {
        e.preventDefault();
        $("html, body").animate(
          { scrollTop: $($(this).attr("href")).offset().top },
          500,
          "linear"
        );
      });
    });
  </script>
</head>

<body>
<!-- TOTAL EXPENSE HEADER -->
<div class="container-fluid" style="margin: 15vh 0 175px">
    <h1 id="welcome">WELCOME TO THE FREE INCOME & EXPENSE TRACKING TOOL</h1>
</div>
    <div class="container index">
        <div class="card sidecard">
            <div class="card-header secure">SECURE</div>
            <div class="card-body">
                <figure>
                    <img height="150px" src="{{ url_for('static', filename='images/undraw_vault.svg') }}" alt="">
                </figure>
            </div>
            <div class="card-footer secure">Keep your files protected!</div>
        </div>
        <div class="card centercard">
            <div class="card-header simple">SIMPLE</div>
            <div class="card-body">
                <figure>
                    <img height="150px" src="{{ url_for('static', filename='images/undraw_business_shop.svg') }}"
                        alt="">
                </figure>
            </div>
            <div class="card-footer simple">Just enter your income and expenses!</div>
        </div>
        <div class="card sidecard">
                <div class="card-header tools">TOOLS</div>
                <div class="card-body">
                    <figure>
                        <img height="150px" src="{{ url_for('static', filename='images/undraw_revenue.svg') }}"
                            alt="">
                    </figure>
                </div>
                <div class="card-footer tools">See how you're doing at a glance!</div>
            </div>
    </div>

<!-- END TOTAL EXPENSE HEADER -->

<div class="log">
<a href="{{ url_for('login') }}"><button class="btn btn-btn-primary">Login</button></a>
<a href="{{ url_for('register') }}"><button class="btn btn-btn-primary">Register</button></a>
</div>

<footer style="margin-top: 45px"></footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>