{% extends "layout.html" %} 
    {% block form %}
    <center>
    <form action="/get_expenses" method="GET" style="padding: 15px">
      <button type="submit" class="btn btn-primary">Check Expenses</button>
    </form>
  </center>
    {% endblock %}
    {% block banner %}Income{% endblock %}
{% block body %}
<center>
<title style="padding: 15px">Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <br>
  <br>
  <button type=submit class="btn btn-success" value=Upload style="margin-bottom: 15px">Upload</button>
</form>
</center>
    {% for file in income_statement %}
    <div class="container-fluid project">
      <div class=" container-fluid client">
        <div class="container">
          <ul>
            <li id="clientname" class="jobattr">{{ file.client.name }}</li>
            {% if file.client.job.platform %}
            <li id="jobname" class="jobattr">{{ file.client.job.name }}</li>
            <li id="clientplatform" class="jobattr">
              Platform: {{ file.client.job.platform }}
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="container">
          <ul>
            <li id="income" class="jobattr">
              Income: ${{ file.income.total }}
            </li>
            <li id="fee" class="jobattr">
              Fees: ${{ file.income.fee.amount }}
            </li>
            <li id="jobdate" class="jobattr">
              Date: {{ file.client.job.date }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}

