body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.headc {
  background-color: rgba(36, 131, 36, 0.829);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 8px 15px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 8px 15px 0px rgba(50, 50, 50, 0.44);
}

button {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
}

html {
  font-size: 100%;
}

.lowerform {
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.34);
  margin-top: -1px;
}

.newexpense {
  border-top: 135px solid rgba(95, 91, 104, 0.856);
  grid-area: expense;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}
.totals {
  grid-area: totals;
  background: white;
  text-align: center;
  padding: 150px 0 0px;
  display: inline-flex;
  justify-content: center;
}

.totals div {
  padding: 0 2vw;
}

.totals h3 {
  text-decoration: underline;
}
.headc {
  grid-area: headc;
  border-right: 1px solid rgb(255, 255, 255);
}

.client,
.item {
  grid-area: client;
}
.job {
  grid-area: job;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "totals totals"
    "headc headc"
    "expense expense";
  grid-gap: 0px;

  color: rgb(43, 43, 43);
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: -1px -1px -1px #222;
}
#fileupload {
  border: 20px solid rgb(43, 43, 43);
  width: 50%;
  margin: 35px 0;
  padding: 95px;
}
#fileupload h1 {
  margin: 15px;
}
#fileupload button {
  margin-top: 25px
}

#fileinput {
  margin-bottom: 25px
}
.client,
.item {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f9f9f9;
  color: rgb(43, 43, 43);
  border-radius: 0px;
  font-size: 150%;
  margin: 1px auto;
}

.container-fluid.project,
.container-fluid.expense {
  padding: 0 15vw;
}

.headc h1 {
  box-shadow: 10px, 10px, 10px, #222;
  color: #f9f9f9;
  text-align: center;
  padding: 15px;

  font-size: 2.25rem;
}

ul {
  padding: 0 100px;
}
li {
  text-align: left;
  list-style: none;
  line-height: 2.25rem;
}

#jobname,
#itemcost {
  color: #222;
  font-size: 0.9rem;
}

#itemcost {
  color: rgb(145, 34, 34);
  font-size: 1.1rem;
}

#income {
  color: green;
  font-size: 1rem;
}

#fee {
  color: rgba(158, 9, 9, 0.877);
  font-size: 0.9rem;
}
#jobdate {
  font-size: 0.8rem;
  color: rgb(99, 99, 0);
}

#clientname {
  color: green;
  font-size: 1.5rem;
  text-decoration: underline;
}

#clientplatform,
#itemcategory {
  font-size: 0.8rem;
}

#itemname {
  color: rgb(34, 32, 32);
  text-decoration: underline;
}

#itemdate {
  font-size: 0.75rem;
}

#totalincome {
  color: green;
}
#totalfees,
#totalexpenses {
  color: rgba(158, 9, 9, 0.877);
}

dt label {
  font-family: "Comfortaa", cursive;
}
dd input {
  border-radius: 6px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .client,
  .item {
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .container-fluid.project {
    padding: 0 9vw;
  }
  .svghead {
    height: 300px;
  }

  #fileupload {
    width: 75%;
    font-size: 1.25rem;
    padding: 45px
  }
}



@media only screen and (max-width: 765px) {
  .container-fluid.project,
  .container-fluid.expense {
    padding: 0;
  }

  ul {
    padding: 0 50px;
  }
  .totals h3 {
    font-size: 1rem;
  }
  .totals div {
    padding: 0 0.5vw;
  }

  .item {
    font-size: 90%;
  }

  .svghead {
    height: 250px;
  }
  #main {
    margin-top: 25px;
    font-size: 150%;
  }

  #fileinput {
    margin-left: 5vw;
    margin-bottom: 25px
  }
  #fileupload {
    width: 95%;
    font-size: 1.2rem;
    padding: 25px;
  }
}

@media only screen and (max-width: 560px) {
  .client,
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
  }

  .wrapper,
  .project,
  .expense {
    padding: 0px;
  }
  .container-fluid {
    padding: 0 !important;
  }

  .svghead {
    height: 150px;
  }
  #main {
    margin-top: 25px;
    font-size: 100%;
  }
  #newfile {
    font-size: 100%;
  }

  #fileinput {
    margin-left: 15vw;
  }

  #fileupload {
    width: 100%;
    font-size: 1.15rem;
    padding: 5px;
  }
}
