body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

html {
    font-size: 100%;
}

.newexpense {
    border-top: 135px solid rgb(48, 48, 48);
    grid-area: expense
}
.container-fluid {
    justify-content: center;
}
.totals {
    grid-area: totals;
    background: white;
    text-align: center;
    padding: 150px 0 0px;
    display: inline-flex;
    justify-content: center;
}

.totals div {
    padding: 0 2vw;
}

.totals h3 {
    text-decoration: underline;
}
.headc {
    grid-area: headc;
    border-right: 1px solid rgb(255, 255, 255)

}

 .client, .item {
    grid-area: client

}
.job {
    grid-area: job
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'totals totals'
    'headc headc'
    'expense expense';
    grid-gap: 0px;
    
    color: rgb(43, 43, 43);
    padding: 0px;
    box-shadow: -1px -1px -1px #222;
}



.client, .item {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f9f9f9;
    color: rgb(43, 43, 43);
    border-radius: 0px;
    font-size: 150%;
    margin: 1px auto;
}


.container-fluid.project, .container-fluid.expense {
    padding: 0 15vw
}


.headc h1 {
    box-shadow: 10px, 10px, 10px, #222;
    color: #f9f9f9;
    text-align: center;
    padding: 15px;
    background-color: rgba(36, 131, 36, 0.829);
    font-size: 2.25rem;
}

ul {
    padding: 0 100px;
}
li{ 
    text-align: left;
    list-style: none;
    line-height: 2.25rem;
}
.button {
    margin: 20px;
    width: 134px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 13px 4px 13px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    -webkit-appearance: button;
    -webkit-appearance: default-button

}
.button:hover {
    text-decoration: none;
    color: #333333;
    cursor: default;
}

#jobname, #itemcost {
    color: #222;
    font-size: 0.9rem
}

#itemcost {
    color: rgb(145, 34, 34);
    font-size: 1.1rem;
}

#income {
    color: green;
    font-size: 1rem;
}

#fee {
    color: rgba(158, 9, 9, 0.877);
    font-size: 0.9rem;
}
#jobdate{
    font-size: 0.8rem;
    color: rgb(99, 99, 0);
}

#clientname{
    color: green;
    font-size: 1.5rem;
    text-decoration: underline;
}

#clientplatform, #itemcategory {
    font-size: 0.8rem;
}

#itemname {
    color: rgb(34, 32, 32);
    text-decoration: underline;
}

#itemdate {
    font-size: 0.75rem;
}

#totalincome {
    color: green;
}
#totalfees, #totalexpenses {
    color: rgba(158, 9, 9, 0.877);
}

@media only screen and (max-width: 1024px) {
    .client, .item {
        display: flex;
        justify-content: center;
        margin: 5px auto;
    }

    .container-fluid.project {
        padding: 0 9vw;
    }
}

#main {
    font-family: 'Righteous', cursive;
    padding: 50px;
}

@media only screen and (max-width: 765px) {

    .container-fluid.project, .container-fluid.expense {
        padding: 0;
    }

ul {
    padding: 0 50px;
}
.totals h3 {
    font-size: 1rem;
}
.totals div {
    padding: 0 .5vw;
}

.item {
    font-size: 90%
}

}

@media only screen and (max-width: 560px) {
    .client, .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px auto;
    
    }
    
    .wrapper, .project, .expense{
        padding: 0px;
    }
    .container-fluid { 
        padding: 0 !important
    }
}
