body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%
}

body, html {
    overflow-x: hidden;
}

.totals {
    grid-area: totals;
    background: white;
    text-align: center;
    border-top: 135px solid rgb(48, 48, 48);
    padding: 150px 0 150px;
    display: inline-flex;
    justify-content: center;
}

.totals div {
    padding: 0 10vw;
}
.headc {
    grid-area: headc;
    border-right: 1px solid rgb(255, 255, 255)

}
.headj {
    grid-area: headj;
    border-left: 1px solid rgb(255, 255, 255)
}
 .client {
    grid-area: client

}
.job {
    grid-area: job
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'totals totals''headc headj';
    grid-gap: 0px;
    background-color: rgba(36, 131, 36, 0.829);
    color: rgb(43, 43, 43);
    padding: 0px;
    box-shadow: -1px -1px -1px #222;
}


.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'client job';
    grid-gap: 1px;
    background-color: rgb(0, 0, 0);
    color: rgb(43, 43, 43);
    padding: 0 00px;
}

.client, .job{
    background-color: #f9f9f9;
    color: rgb(43, 43, 43);
    border-radius: 0px;
    font-size: 150%;
    margin: 1px 0;
}

.headc h1, .headj h1 {
    box-shadow: 10px, 10px, 10px, #222;
    color: rgb(29, 29, 29);
    text-align: center;
    padding: 15px;
}
li{ 
    text-align: left;
    list-style: none;
    line-height: 2.25em;
}


#jobname {
    color: blue;
    font-size: 0.8em
}

#income {
    color: green;
    font-size: 0.9em;
}

#fee {
    color: rgba(158, 9, 9, 0.877);
    font-size: 0.8em;
}
#jobdate{
    font-size: 0.6em;
    color: rgb(99, 99, 0);
}

#clientname{
    color: green;
    font-size: 1.4em;
    text-decoration: underline;
}

#clientplatform {
    font-size: 0.7em;
}
